html{
   scroll-behavior: smooth;

}

body{
   font-family: 'Nanum Gothic', sans-serif !important;
}


h2{
   font-size: 32px;
   font-family:sans-serif;
   text-align: center;
}
h4{
   margin-top:0;
   padding-bottom:4em ;
   font-family:monospace;
   font-size: 14px;
}

.showcase{
   height: 500px;
   width: 100%;
   background-color: lightblue; 
   text-align: center;
}

.showcase h1{
   padding-top: 200px;
}

.container{
   font-family: 'Nanum Gothic', sans-serif;
}



@media (min-width: 768px) {
   .view {
       overflow: visible;
       margin-top: -56px;
   }
}
.navbar {
   z-index: 1;
}
