*html{
   scroll-behavior: smooth;
}

h2{
   font-size: 32px;
   font-family:sans-serif;
}
h4{
   margin-top:0;
   padding-bottom:4em ;
   font-family:monospace;
   font-size: 14px;
}

.view {
   background: url("../images/best-free-stock-photos.webp")no-repeat center center;
   background-size: cover;
   
}

@media (min-width: 768px) {
   .view {
       overflow: visible;
       margin-top: -56px;
   }
}
.navbar {
   z-index: 1;
}
p{
   font-size: 1.5em;
}
/* html,
body,
header,
.view {
 height: 100%; */
