body{ 
font-size: 15px;
font-family: 'Courier New', Courier, monospace;
}

#page-wrap { 

margin: 0 auto;
}

h1  {
/* margin: 25px; */
font: 18px Georgia, Serif; 
text-transform: uppercase;
letter-spacing: 3px;
text-align: center;
color: #ffffff;
}

h2{
 
/* margin: 25px; */
font: 35px Georgia, Serif; 
text-transform: uppercase;
letter-spacing: 3px;
text-align: center;
      
}

h3{
   color: red;
}
#quiz input {
vertical-align: middle;
color: darkblue;
width: 100px;
height: 100px;
}


#quiz ol li {
/* margin: 0 0 20px 0; */
color: black;
font-weight: bold;
}

/* #quiz ol li div {
/* padding: 4px 0; */


#quiz h3 {
font-size: 30px; 
/* margin: 0 0 1px 0;  */
color: blue;
font-family: 'Courier New', Courier, monospace;
text-align: center;
border: 1px solid black;
background-color: lightblue;
border-radius: 25px;;
}

#results {
font: 44px Georgia, Serif;
text-align: center;
}

.btn{
   color: white;
   background-color: blue;
   border: none;
   width: 100px;
   height: 25px;
}

#btn{
   text-align: center;
}

.img{
   width: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;   
 }



/* AVENGERS */
.row{
   background-color: white;
   color: black;
   width: 100%;
}

.row:hover{
   background-color: palegoldenrod;
   color: black;
   width: 100%;


}




/* **************************************************************************
************************************************************************** */


 